.DS_Store
node_modules
.next
out
dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*.local
tsconfig.tsbuildinfo
Data/raw/*
!Data/raw/.gitkeep
!Data/raw/rolling-year/
!Data/raw/rolling-year/.gitkeep
!Data/raw/monthly/
!Data/raw/monthly/.gitkeep
Data/cache/*
!Data/cache/.gitkeep
